processed_data_results/train_usdeb_file.pkl
gold_cmv_list.pkl
gold_essay_list.pkl
gold_micro_list.pkl
train_cmv_file.pkl
train_essay_file.pkl
train_micro_file.pkl
val_cmv_file.pkl
val_micro_file.pkl
val_essay_file.pkl
__pycache__/parse_cmv.cpython-310.pyc
__pycache__/parse_essay.cpython-310.pyc
__pycache__/parse_micro.cpython-310.pyc
__pycache__/parse_mardy.cpython-310.pyc
__pycache__/parse_usdeb.cpython-310.pyc
__pycache__/preprocess.cpython-310.pyc
__pycache__/custom_dataset_pytorch.cpython-310.pyc
__pycache__/pytorch_model.cpython-310.pyc
__pycache__/sklearnfile.cpython-310.pyc
processed_data_results/cmv_lr_evaluation.pkl
processed_data_results/cmv_pytorch_evaluation.pkl
processed_data_results/cmv_rf_evaluation.pkl
processed_data_results/cmv_svm_evaluation.pkl
processed_data_results/essay_lr_evaluation.pkl
processed_data_results/essay_pytorch_evaluation.pkl
processed_data_results/essay_rf_evaluation.pkl
processed_data_results/essay_svm_evaluation.pkl
processed_data_results/lr_model.sav
processed_data_results/micro_lr_evaluation.pkl
processed_data_results/micro_pytorch_evaluation.pkl
processed_data_results/micro_rf_evaluation.pkl
processed_data_results/micro_svm_evaluation.pkl
processed_data_results/pytorch_model.pt
processed_data_results/rf_model.sav
processed_data_results/svm_model.sav
processed_data_results/usdeb_lr_evaluation.pkl
processed_data_results/usdeb_pytorch_evaluation.pkl
processed_data_results/usdeb_rf_evaluation.pkl
processed_data_results/usdeb_svm_evaluation.pkl
data/mardy/108156.json
data/mardy/108560.json
data/mardy/108566.json
data/mardy/109097.json
data/mardy/109403.json
data/mardy/109593.json
data/mardy/109598.json
data/mardy/109653.json
data/mardy/109671.json
data/mardy/110195.json
data/mardy/110691.json
data/mardy/110694.json
data/mardy/110697.json
data/mardy/110727.json
data/mardy/110766.json
data/mardy/110818.json
data/mardy/110825.json
data/mardy/110829.json
data/mardy/110922.json
data/mardy/110963.json
data/mardy/111018.json
data/mardy/111040.json
data/mardy/111051.json
data/mardy/111086.json
data/mardy/111107.json
data/mardy/111115.json
data/mardy/111119.json
data/mardy/111122.json
data/mardy/111132.json
data/mardy/111152.json
data/mardy/111160.json
data/mardy/111161.json
data/mardy/111167.json
data/mardy/111168.json
data/mardy/111181.json
data/mardy/111204.json
data/mardy/111208.json
data/mardy/111215.json
data/mardy/111624.json
data/mardy/111641.json
data/mardy/111692.json
data/mardy/111869.json
data/mardy/114706.json
data/mardy/114736.json
data/mardy/114772.json
data/mardy/114774.json
data/mardy/114847.json
data/mardy/114931.json
data/mardy/114966.json
data/mardy/115010.json
data/mardy/115035.json
data/mardy/115042.json
data/mardy/115054.json
data/mardy/115055.json
data/mardy/115059.json
data/mardy/115066.json
data/mardy/115073.json
data/mardy/115085.json
data/mardy/115152.json
data/mardy/115184.json
data/mardy/115209.json
data/mardy/115211.json
data/mardy/115221.json
data/mardy/115229.json
data/mardy/115238.json
data/mardy/115239.json
data/mardy/115242.json
data/mardy/115253.json
data/mardy/115270.json
data/mardy/115286.json
data/mardy/115289.json
data/mardy/115293.json
data/mardy/115294.json
data/mardy/115387.json
data/mardy/115465.json
data/mardy/115520.json
data/mardy/115742.json
data/mardy/115833.json
data/mardy/115854.json
data/mardy/115919.json
data/mardy/116802.json
data/mardy/117767.json
data/mardy/117805.json
data/mardy/118060.json
data/mardy/118079.json
data/mardy/118788.json
data/mardy/118792.json
data/mardy/118808.json
data/mardy/118854.json
data/mardy/118866.json
data/mardy/118870.json
data/mardy/118898.json
data/mardy/118914.json
data/mardy/118924.json
data/mardy/119006.json
data/mardy/119018.json
data/mardy/119020.json
data/mardy/119041.json
data/mardy/119069.json
data/mardy/119097.json
data/mardy/119155.json
data/mardy/119165.json
data/mardy/119178.json
data/mardy/119198.json
data/mardy/119218.json
data/mardy/119226.json
data/mardy/119228.json
data/mardy/119229.json
data/mardy/119250.json
data/mardy/119289.json
data/mardy/119301.json
data/mardy/119316.json
data/mardy/119324.json
data/mardy/119333.json
data/mardy/119350.json
data/mardy/119364.json
data/mardy/119378.json
data/mardy/119385.json
data/mardy/119391.json
data/mardy/119812.json
data/mardy/120841.json
data/mardy/120886.json
data/mardy/120931.json
data/mardy/121071.json
data/mardy/121255.json
data/mardy/121266.json
data/mardy/121911.json
data/mardy/121975.json
data/mardy/122000.json
data/mardy/122204.json
data/mardy/122900.json
data/mardy/122931.json
data/mardy/122938.json
data/mardy/122959.json
data/mardy/122989.json
data/mardy/122992.json
data/mardy/123010.json
data/mardy/123014.json
data/mardy/123058.json
data/mardy/123078.json
data/mardy/123143.json
data/mardy/123177.json
data/mardy/123178.json
data/mardy/123215.json
data/mardy/123292.json
data/mardy/123312.json
data/mardy/123316.json
data/mardy/123344.json
data/mardy/123350.json
data/mardy/123373.json
data/mardy/123407.json
data/mardy/123444.json
data/mardy/123474.json
data/mardy/123732.json
data/mardy/123734.json
data/mardy/123873.json
data/mardy/123876.json
data/mardy/124613.json
data/mardy/124664.json
data/mardy/124792.json
data/mardy/124873.json
data/mardy/124928.json
data/mardy/125057.json
data/mardy/125239.json
data/mardy/125680.json
data/mardy/125736.json
data/mardy/126015.json
data/mardy/126049.json
data/mardy/126050.json
data/mardy/126085.json
data/mardy/126413.json
data/mardy/126987.json
data/mardy/127078.json
data/mardy/127092.json
data/mardy/127123.json
data/mardy/127135.json
data/mardy/127144.json
data/mardy/127164.json
data/mardy/127170.json
data/mardy/127176.json
data/mardy/127184.json
data/mardy/127189.json
data/mardy/127199.json
data/mardy/127201.json
data/mardy/127203.json
data/mardy/127228.json
data/mardy/127321.json
data/mardy/127342.json
data/mardy/127347.json
data/mardy/127374.json
data/mardy/127384.json
data/mardy/127399.json
data/mardy/127453.json
data/mardy/127454.json
data/mardy/127478.json
data/mardy/127485.json
data/mardy/127551.json
data/mardy/127561.json
data/mardy/127569.json
data/mardy/127574.json
data/mardy/127577.json
data/mardy/127597.json
data/mardy/127598.json
data/mardy/128070.json
data/mardy/128090.json
data/mardy/128092.json
data/mardy/128126.json
data/mardy/128346.json
data/mardy/128349.json
data/mardy/128824.json
data/mardy/129154.json
data/mardy/129162.json
data/mardy/130061.json
data/mardy/130126.json
data/mardy/130483.json
data/mardy/130902.json
data/mardy/131083.json
data/mardy/131173.json
data/mardy/131191.json
data/mardy/131212.json
data/mardy/131228.json
data/mardy/131235.json
data/mardy/131243.json
data/mardy/131246.json
data/mardy/131267.json
data/mardy/131271.json
data/mardy/131280.json
data/mardy/131325.json
data/mardy/131327.json
data/mardy/131339.json
data/mardy/131402.json
data/mardy/131439.json
data/mardy/131548.json
data/mardy/131556.json
data/mardy/131576.json
data/mardy/131601.json
data/mardy/131607.json
data/mardy/131612.json
data/mardy/131619.json
data/mardy/131622.json
data/mardy/131632.json
data/mardy/131641.json
data/mardy/131661.json
data/mardy/131670.json
data/mardy/131678.json
data/mardy/131683.json
data/mardy/131687.json
data/mardy/131688.json
data/mardy/131693.json
data/mardy/131698.json
data/mardy/132171.json
data/mardy/132191.json
data/mardy/132239.json
data/mardy/132716.json
data/mardy/133162.json
data/mardy/133711.json
data/mardy/134142.json
data/mardy/134143.json
data/mardy/134163.json
data/mardy/134185.json
data/mardy/134186.json
data/mardy/134248.json
data/mardy/135202.json
data/mardy/135220.json
data/mardy/135246.json
data/mardy/135264.json
data/mardy/135291.json
data/mardy/135324.json
data/mardy/135461.json
data/mardy/135472.json
data/mardy/135484.json
data/mardy/135485.json
data/mardy/135492.json
data/mardy/135494.json
data/mardy/135497.json
data/mardy/135499.json
data/mardy/135502.json
data/mardy/135511.json
data/mardy/135532.json
data/mardy/135535.json
data/mardy/135537.json
data/mardy/135544.json
data/mardy/135551.json
data/mardy/135558.json
data/mardy/135575.json
data/mardy/135587.json
data/mardy/135606.json
data/mardy/135607.json
data/mardy/135610.json
data/mardy/135618.json
data/mardy/135630.json
data/mardy/135654.json
data/mardy/135695.json
data/mardy/135712.json
data/mardy/135723.json
data/mardy/135729.json
data/mardy/136463.json
data/mardy/136465.json
data/mardy/137258.json
data/mardy/138364.json
data/mardy/138802.json
data/mardy/139280.json
data/mardy/139378.json
data/mardy/139384.json
data/mardy/139385.json
data/mardy/139387.json
data/mardy/139515.json
data/mardy/139584.json
data/mardy/139601.json
data/mardy/139604.json
data/mardy/139606.json
data/mardy/139610.json
data/mardy/139612.json
data/mardy/139643.json
data/mardy/139671.json
data/mardy/139673.json
data/mardy/139700.json
data/mardy/139705.json
data/mardy/139715.json
data/mardy/139741.json
data/mardy/139755.json
data/mardy/139780.json
data/mardy/139791.json
data/mardy/139814.json
data/mardy/139830.json
data/mardy/139857.json
data/mardy/140273.json
data/mardy/140291.json
data/mardy/140394.json
data/mardy/141511.json
data/mardy/142251.json
data/mardy/142257.json
data/mardy/142265.json
data/mardy/142267.json
data/mardy/142270.json
data/mardy/142286.json
data/mardy/142289.json
data/mardy/142903.json
data/mardy/143370.json
data/mardy/143389.json
data/mardy/143429.json
data/mardy/143458.json
data/mardy/143496.json
data/mardy/143497.json
data/mardy/143511.json
data/mardy/143512.json
data/mardy/143516.json
data/mardy/143526.json
data/mardy/143530.json
data/mardy/143531.json
data/mardy/143575.json
data/mardy/143599.json
data/mardy/143602.json
data/mardy/143610.json
data/mardy/143629.json
data/mardy/143682.json
data/mardy/143684.json
data/mardy/143685.json
data/mardy/143727.json
data/mardy/143728.json
data/mardy/143737.json
data/mardy/143828.json
data/mardy/143839.json
data/mardy/143847.json
data/mardy/143853.json
data/mardy/143885.json
data/mardy/143889.json
data/mardy/143890.json
data/mardy/143891.json
data/mardy/143909.json
data/mardy/143928.json
data/mardy/143934.json
data/mardy/143944.json
data/mardy/143969.json
data/mardy/144438.json
data/mardy/144476.json
data/mardy/144504.json
data/mardy/144668.json
data/mardy/145425.json
data/mardy/145434.json
data/mardy/146501.json
data/mardy/146552.json
processed_data_results/train_mardy_file.pkl
processed_data_results/train_without_cmv_file.pkl
processed_data_results/train_without_essay_file.pkl
processed_data_results/train_without_mardy_file.pkl
processed_data_results/train_without_micro_file.pkl
processed_data_results/train_without_usdeb_file.pkl
